<div style="text-align:center">
  <div><input type="file" accept=".csv" class="upload" (change)="fileChangeListener($event.target.files)"></div>  
</div>
<br/>
<p-table [columns]="hearders" [value]="rows" sortMode="multiple"   [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>